a.page-link {
    color: #2d2c77 !important;
}
li.page-item.active .page-link{
    background-color: #2d2c77 !important;
}
.card-header{
    background-color:#2d2c77 !important;
    
}
span.badge.bg-danger.recibido{
    font-size: 20px;
}
span.badge.bg-primary.trabajando{
    font-size: 20px;
}
span.badge.bg-success.entregado{
    font-size: 20px;
}
span.badge.bg-info.repuesto{
    font-size: 20px;
}
span.badge.bg-warning.respuesta{
    font-size: 20px;
}
span.badge.bg.terminado{
    font-size: 20px;
    background-color: #3d9970;
    color: white;
}

.small-box.bg.terminado{
    background-color: #3d9970;
    color: white;

}


.informe{
    width: 100%;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
.informe tr td{
    text-align: left;
}